<mat-toolbar color="primary">
  <mat-toolbar-row>
    <fa-icon [icon]="bars" (click)="drawer.toggle()"></fa-icon>
    <span class="spacer"></span>
    <span>Netflix</span>
    <span class="spacer"></span>
    <span><fa-icon [icon]="github" (click)="gotoGithub()"></fa-icon></span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="container-main" autosize>
  <mat-drawer #drawer class="sidenav-content" mode="side">
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>