<div class="grid-container">
  <h1 class="mat-h1">TV Shows on Netflix</h1>
  <mat-grid-list cols="3" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card" *ngIf="card.type === 'grid'">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-data-grid [gridConfig]="gridConfig" *ngIf="doneLoading"></app-data-grid>
        </mat-card-content>
      </mat-card>
      <mat-card class="dashboard-card" *ngIf="card.type === 'map-chart'">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-map-chart [chartData]="card.chart" *ngIf="doneLoading"></app-map-chart>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
